#title {
    margin-top: 10%;
}

#startbutton {
 
    
}

#imagestart {
    text-align: -webkit-center;
    text-align: center;
    
}

img {
  height: 800;
  width: 800;
}

#firsth1 {
    text-align: -webkit-center;
    text-align:center;
}

#firsth1 a {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 181, 84);
}

#styledtable {
    border-collapse: collapse;
  }
  
  
  #styledtable td {
    position:relative;
    border: 1px solid #000000;
    max-width: 200px;
    height: 200px;
    text-align: center;
    opacity: 100%;
  }
  
  #secondh1 {
    position:relative;
    text-align: -webkit-center;

  }
  
  .tables {
    margin-left: auto;
    margin-right: auto;
  }

  .walking {
    position: relative;
    opacity: 0%;
  }

 .walking:hover {
    opacity: 100%;
    transition: opacity 0.3s;
  }

  .nowalk {
    font-size: 70px;
    opacity: 0%;
  }

  .nowalk:hover {
    opacity: 100%;
    transition: opacity 0.3s;
  }

  #imagestar {
    text-align: -webkit-center;
    text-align: center;
    max-height: 200px;
    max-width: 200px;
  

    
}
#title2 {
  margin-top: 10%;
  font-size: 30;
}
#title1 {
  margin-top: 10%;
  color: rgb(255, 255, 255);
}

a {
  color:rgb(0, 0, 0);
    text-decoration:none;
}